<section>
  <div class="container-fluid">
    <h2>conatct section</h2>

    <div class="icon d-flex justify-content-center">
      <div class="befor mx-2"></div>
      <i class="fa-solid fa-star mx-2"></i>
      <div class="after mx-2"></div>
    </div>

    <div class="mt-5 w-100 d-flex flex-column align-items-center">
      <input type="text" class="form-control" id="userName" placeholder="userName">
      <input type="number" class="form-control" id="userAge" placeholder="userAge">
      <input type="email" class="form-control" id="email" placeholder="userEmail">
      <input type="password" class="form-control" id="password" placeholder="userPassword">
      <button class="btn">send Message</button>
    </div>

  </div>

</section>
